<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>138688933483-6gvo0cc2c1de7vbubblji6ms65tg03li.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.138688933483-6gvo0cc2c1de7vbubblji6ms65tg03li</string>
	<key>API_KEY</key>
	<string>AIzaSyBM0NFGQ7p9MymSz9ijQTrkixg-sJOrgrk</string>
	<key>GCM_SENDER_ID</key>
	<string>138688933483</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.MyApp</string>
	<key>PROJECT_ID</key>
	<string>direct-keel-140511</string>
	<key>STORAGE_BUCKET</key>
	<string>direct-keel-140511.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:138688933483:ios:cf9c53b741709b5b7f0b2e</string>
</dict>
</plist>